*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Color variables */
  --color-text: #0c0c0c;
  --color-background: #ffffff;
  --color-border: #e3e3e3;
  --color-call-button: #252525;
  --color-call-button-hover: #373737;
  --color-call-button-active: #1a1a1a;
  --color-social-link-background: #f6f6f6;
  --color-social-link-hover: #fafafa;
  --color-social-link-hover-text: #525252;
  --color-popup-background: rgba(0, 0, 0, 0.7);
  --color-close-button: #f1f1f1;
  --color-close-button-hover: #bbb;

  /* Spacing variables */
  /* Base spacing unit */
  --spacing-unit: 4px;

  /* Derived spacing variables */
  --spacing-xs: calc(var(--spacing-unit) * 1);
  /* 4px */
  --spacing-s: calc(var(--spacing-unit) * 2);
  /* 8px */
  --spacing-m: calc(var(--spacing-unit) * 3);
  /* 12px */
  --spacing-l: calc(var(--spacing-unit) * 4);
  /* 16px */
  --spacing-xl: calc(var(--spacing-unit) * 5);
  /* 20px */
  --spacing-xxl: calc(var(--spacing-unit) * 10);
  /* 40px */
  --spacing-3xl: calc(var(--spacing-unit) * 20);
  /* 80px */

  /* Other variables */
  --border-radius: 6px;
  --font-size-base: 16px;
  --font-size-small: 12px;
  --box-shadow: 0 3px 3.6px rgba(0, 0, 0, 0.36),
    0 -5px 7.3px rgba(0, 0, 0, 0.99) inset,
    0 2px 4px rgba(168, 168, 168, 0.42) inset,
    0 0 0 2px rgba(0, 0, 0, 0.1);
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-optical-sizing: auto;

  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding-block: var(--spacing-3xl);
  margin: auto;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


.profile {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl);
  max-width: 600px;
  margin: auto
}

.profile-description {
  display: flex;
  gap: var(--spacing-xl);
  align-items: start;
}

.profile-picture {
  height: 100%;
  max-height: 96px;
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.profile-text h1,
.profile-text p {
  display: inline;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-text);
}

.profile-text h1 {
  font-weight: 700;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-small);
}

a {
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.call-button {
  border: 0.5px solid var(--color-text);
  box-shadow: var(--box-shadow);
  background-color: var(--color-call-button);
  color: var(--color-background);
  padding: 7px 12px;
  border-radius: 5px;
  font-weight: 500;
}

.call-button:hover {
  background-color: var(--color-call-button-hover);
}

.call-button:active {
  background-color: var(--color-call-button-active);
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xs);
  justify-content: center;
  border: 0.5px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: transparent;
  padding: var(--spacing-xs);
}

.social-links a {
  text-decoration: none;
  color: var(--color-text);
  background-color: var(--color-social-link-background);
  border: 0.5px solid var(--color-border);
  padding: 7px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.social-links a:hover {
  background-color: var(--color-social-link-hover);
  color: var(--color-social-link-hover-text);
}

.image-container {
  display: flex;
  gap: var(--spacing-m);
  width: 100%;
  height: 100%;
  padding-block: var(--spacing-xs);
  padding-inline: var(--spacing-xxl);
  overflow-x: auto;
  overflow-y: hidden;
  /* scroll-snap-type: x mandatory; */
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}

.image-container::-webkit-scrollbar {
  display: none;
}


.image-container picture {
  flex-shrink: 0;
  /* scroll-snap-align: center; */
  position: relative;
  cursor: pointer;
}

.image-container img {
  height: 100%;
  width: auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0px 2px 1.8px 0px #00000012;
  object-fit: cover;
  image-rendering: auto;
  filter: none;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.image-container.grayscale img {
  filter: grayscale(100%);
}

.image-container.grayscale picture:hover img {
  filter: none;
}

@media (max-width: 768px) {
  body {
    padding-block: var(--spacing-xl);
    height: auto;
    overflow-y: auto;
  }

  body,
  .profile {
    gap: var(--spacing-xl);
  }

  .profile {
    padding: var(--spacing-xl);
  }

  .profile-description {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-xl);
  }

  img.profile-picture {
    width: 75px;
    height: 75px;
  }

  .actions {
    flex-direction: column;
    gap: var(--spacing-l);
    justify-content: center;
    align-items: flex-start;
  }

  .image-container {
    gap: 5px;
    padding-inline: 20px;
  }

  .image-container img {
    width: 80vw;
    height: auto;
  }
}

/* Popup container */
.image-popup {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-block: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--color-popup-background);
  align-items: center;
  justify-content: center;
}

/* Popup content */
.popup-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: calc(100vh - 200px);
}

/* Caption text */
.popup-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.popup-content,
.popup-caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: var(--color-close-button);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: var(--color-close-button-hover);
  text-decoration: none;
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: var(--spacing-l);
  margin-top: -25px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
