*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-optical-sizing: auto;

  color: #0c0c0c;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}



body {
  padding-block: 80px;
  max-width: 600px;
  margin: auto;
}

body,
.profile {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.profile-picture {
  max-width: 75px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.profile-text h1,
.profile-text p {
  display: inline;
  text-align: left;
  font-size: 16px;
  color: #0c0c0c;
}

.profile-text h1 {
  font-weight: 700;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

a{
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.call-button {
  border: 0.5px solid #0C0C0C;
  box-shadow: 0 3px 3.6px rgba(0, 0, 0, 0.36),
    0-5px 7.3px rgba(0, 0, 0, 0.99) inset,
    0 2px 4px rgba(168, 168, 168, 0.42) inset, 0 0 0 2px rgba(0, 0, 0, 0.1);
  background-color: #252525;
  color: #FFFFFF;
  padding: 7px 12px;
  border-radius: 5px;
  font-weight: 500;
}

.call-button:hover {
  background-color: #373737;
}

.call-button:active {
  background-color: #1A1A1A;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
  border: 0.5px solid #E3E3E3;
  border-radius: 6px;
  background-color: transparent;
  padding: 4px;
}

.social-links a {
  text-decoration: none;
  color: #0C0C0C;
  background-color: #F6F6F6;
  border: 0.5px solid #E3E3E3;
  padding: 7px 11px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  gap: 4px;
}

.social-links a:hover {
  background-color: #FAFAFA;
  color: #525252;
}

.tickers-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-ticker {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
}

.image-container {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
  animation: ticker 15s linear infinite;
}

.image-container:hover {
  animation-play-state: paused;
}

.image-container picture {
  flex-shrink: 0;
}

.image-container img {
  height: 100%;
  width: auto;
  display: block;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - 10px));
  }
}

@media (max-width: 768px) {
  .profile {
    padding: 20px;
  }

  .actions {
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: flex-start;
  }
}


/* Popup container */
.image-popup {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-block: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
  align-items: center;
  justify-content: center;
}

/* Popup content */
.popup-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: calc(100vh - 200px);
}

/* Caption text */
.popup-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.popup-content, .popup-caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -25px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

footer p {
  font-size: 12px;
}